*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background-color: #a7784d;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
}

header {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.flex-container {
    display: flex;
}

header {
    position: fixed;
    width: 100%;
    font-family: 'TradeGothic LT', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.125rem;
    border-bottom: 1px solid #fff;
    z-index: 1;
}

header > div {
    align-items: center;
    margin: auto;
    max-width: 1000px;
    padding: 0 10px;
}

.mobile-nav {
    display: none;
}

.logo {
    text-align: center;
}

.main-nav li {
    list-style: none;
    margin: 0 15px;
}

header a {
    text-decoration: none;
    color: #fff;
}

.main-nav a:hover {
    color: #a7784d;
}

.active {
    color: #a7784d !important;
}

.nav-btns div {
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 8px 15px;
    font-size: 1rem;
    transition: background-color 0.3s;
    justify-content: center;
    width: 160px;
}

.nav-btns a:last-child {
    margin-left: 5px;
}

.nav-btns a {
    border-radius: 15px;
}

.nav-btns img {
    height: 1.3rem;
}

.btn-hidden i {
    padding-right: 5px;
}

.nav-btns div:hover {
    background-color: #a7784d;
    border: 1px solid #a7784d !important;
}

.btn-visible {
    position: relative;
    opacity: 1;
    visibility: visible;
    top: 0;
}

.nav-btn:hover .btn-visible {
    top: -10px;
    opacity: 0;
    visibility: hidden;
}

.btn-hidden {
    position: absolute;
    transform: translate(0, 10px);
    visibility: hidden;
    opacity: 0;
}

.nav-btn:hover .btn-hidden {
    opacity: 1;
    visibility: visible;
    transform: none;
}

.btn-visible, .btn-hidden {
    -webkit-transition: opacity 0.3s, top 0.3s, visibility 0.3s, transform 0.3s;
    -moz-transition: opacity 0.3s, top 0.3s, visibility 0.3s, transform 0.3s;
    -ms-transition: opacity 0.3s, top 0.3s, visibility 0.3s, transform 0.3s;
    -o-transition: opacity 0.3s, top 0.3s, visibility 0.3s, transform 0.3s;
    transition: opacity 0.3s, top 0.3s, visibility 0.3s, transform 0.3s;
}

.main-nav {
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    padding: 0 15px;
}

#pradzia {
    background-image: url(images/restaurant.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
}

#pradzia h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    margin: 10px;
    font-weight: 500;
}

#pradzia h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#pradzia div {
    padding-top: 50vh;
    text-align: center;
}

#pradzia i {
    opacity: 0.5;
    font-size: 1.5rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-animation: arrow 2s linear infinite;
    -moz-animation: arrow 2s linear infinite;
    -o-animation: arrow 2s linear infinite;
    animation: arrow 2s linear infinite;
}

@-webkit-keyframes arrow {
    0% {bottom:3%; opacity:0.1}
    50% {bottom:1%; opacity:0.5}
    100% {bottom:3%; opacity:0.1}
}

@-moz-keyframes arrow {
    0% {bottom:3%; opacity:0.1}
    50% {bottom:1%; opacity:0.5}
    100% {bottom:3%; opacity:0.1}
}

@-o-keyframes arrow {
    0% {bottom:3%; opacity:0.1}
    50% {bottom:1%; opacity:0.5}
    100% {bottom:3%; opacity:0.1}
}

@keyframes arrow {
    0% {bottom:3%; opacity:0.1}
    50% {bottom:1%; opacity:0.5}
    100% {bottom:3%; opacity:0.1}
}

.gallery {
    align-items: center;
    background-color: #ece9e1;
    padding: 30px 20px;
}

.gallery > div {
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    font-family: 'TradeGothic LT', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.gallery div:first-child {
    background-image: url(images/cosy.jpg);
}

.gallery div:nth-child(2) {
    background-image: url(images/pasta-2.png);
    margin: 0;
}

.gallery div:last-child {
    background-image: url(images/pasta.jpg);
}

#apie {
    background-image: url(images/home.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-end;
}

#apie > div {
    background-color: #130505;
    opacity: 0.9;
    width: 60%;
    padding: 40px;
    max-width: 600px;
}

#apie h2 {
    font-family: 'Minion', serif;
    font-size: 3rem;
    color: #fff;
    margin: 20px 0 0 0;
    font-weight: 400;
    text-align: center;
}

#apie p {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.divider {
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}

.divider > div {
    height: 1px;
    width: 100px;
}

.divider.white div {
    background-color: #fff;
}

.divider.white i {
    color: #fff;
}

.divider.black div {
    background-color: #333333;
}

.divider.black i {
    color: #333333;
}

.fa-star {
    padding: 0 10px;
}

#meniu {
    background-color: #ece9e1;
    padding: 40px;
}

#meniu h2 {
    font-family: 'Minion', serif;
    font-size: 3rem;
    color: #333333;
    text-align: center;
    margin: 20px auto 0;
}

#meniu > div:last-child {
    justify-content: center;
    margin: 20px auto 40px;
    max-width: 1100px;
}

#meniu h3 {
    font-family: 'Minion', serif;
    font-size: 2.5rem;
    color: #333333;
    text-align: center;
    margin: 20px 0 40px;
}

.menu-nav {
    padding-right: 50px;
}

.menu-nav a {
    text-decoration: none;
    color: #333333;
    font-family: 'TradeGothic LT', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
}

.menu-nav li {
    list-style: none;
    padding: 5px 0;
}

.menu-nav ul {
    padding: 0px;
    flex-flow: column;
    align-items: flex-end;
    text-align: right;
}

.menu-divider {
    height: 1px;
    flex-grow: 100;
    margin: 0 10px;
    background-color: #333333;
}

.food .flex-container {
    align-items: center;
}

.food {
    background-color: #fff;
    opacity: 0.97;
    transform: translate(-5%, 40px);
    padding: 40px;
    width: 80%;
}

.menu-image {
    max-width: 20%;
}

.menu-image img {
    width: 600%;
    max-width: 600px;
}

.food h4, .food span {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #333333;
    font-size: 1.1rem;
}

.food p {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    color: #333333;
}

.cezario-salotos {
    margin-bottom: 0 !important;
}

.flex-container.cezario-salotos {
    margin-bottom: 15px !important;
}

div.cezario-salotos p {
    margin-bottom: 0;
}

.burrata-salotos {
    margin-bottom: 15px;
}

.menu-image {
    width: 40%;
}

.tablink.active {
    color: #c77633;
}

#sriubos, #salotos, #makaronai, #picos, #pagrindiniai, #desertai {
    display: none;
}

#kontaktai {
    background-image: url(images/crates.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
}

.contacts {
    background-color: #fff;
    opacity: 0.97;
    align-items: center;
    padding: 40px;
    max-width: 800px;
    margin: auto;
}

.contacts > div:first-child {
    text-align: center;
}

.contacts h3 {
    font-family: 'Minion', serif;
    font-size: 2.5rem;
    color: #333333;
    margin: 20px 0;
}

.contacts p {
    font-family: 'Lato', sans-serif;
    color: #333333;
}

.contacts .divider {
    flex-direction: column;
    padding: 0 30px;
}

.contacts .divider div {
    width: 1px;
    height: 100px;
}

.contacts .divider i {
    padding: 10px 0;
}

textarea, input {
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
    padding: 12px 20px;
    font-family: 'Lato', sans-serif;
    margin: 3px 0;
    font-size: 1rem;
}

textarea {
    resize: none;
}

textarea:focus, input:focus {
    border: 1px solid #a7784d;
}

button {
    background-color: #a7784d;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    width: 100%;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-size: 1rem;
    padding: 12px 20px;
}

button:hover {
    background-color: #845f3d;
}

.contact-info {
    flex-shrink: 0;
}

.contact-info div {
    padding-bottom: 20px;
}

.contacts-icon {
    padding-right: 5px;
    color: #a7784d;
}

.fa-map-marker-alt {
    margin: 0 4px;
}

.contact-info p {
    display: inline-block;
    margin: 0 0 10px 0;
}

.contact-info a {
    text-decoration: none;
}

.contact-info a p {
    color: #a7784d;
    font-weight: bold;
}

.contact-info .days {
    color: #a7784d;
    font-weight: bold;
    font-family: 'TradeGothic LT', sans-serif;
}

.contact-info .days:nth-last-child(8) {
    margin-right: 9px;
}

.contact-info .days:nth-last-child(5) {
    margin-right: 5px;
}

.contact-info .days:nth-last-child(2) {
    margin-right: 14px;
}

.footer {
    background-color: #ece9e1;
    text-align: center;
    color: #333333;
    width: 100%;
}

.footer p:last-child {
    display: inline-block;
    font-family: 'Lato', sans-serif;
}

.footer i {
    font-size: 2rem;
    padding: 10px;
    color: #333333;
}

.footer i:hover {
    color: #a7784d;
}

.footer p:first-child {
    font-weight: bold;
    font-family: 'TradeGothic LT', sans-serif;
    text-transform: uppercase;
    padding-right: 10px;
}

.footer > div {
    float: right;
    position: absolute;
    right: 5px;
}

@media all and (max-width: 900px) {
    .nav-btns {
        margin: 5px 0;
    }
    
    .nav-btns a:last-child {
        margin-left: 0;
    }
    
    .nav-btns a:first-child div {
        margin-bottom: 5px;
    }
    .nav-btns {
        flex-direction: column;
    }
    
    .gallery > div {
        height: 250px;
    }
    
    #apie > div {
        width: 70%;
    }
    
    .menu-nav {
    padding-right: 0px;
}
    
    .menu-nav ul {
        padding: 0px;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .menu-nav ul li {
        padding: 10px 15px;
    }
    
    .menu-image {
        display: none;
    }
    
    #meniu > div:last-child {
        flex-direction: column;
    }
    
    #meniu {
        padding: 60px 0 20px;
    }
    
    #meniu h2 {
        margin: 0;
    }
    
    #meniu .divider {
        padding-bottom: 0;
    }

    .food {
        background-image: url(images/cooking.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        opacity: 1;
        transform: none;
        height: 770px;
    }
    
    .food > div {
        background-color: #fff;
        opacity: 0.97;
        padding: 40px;
    }
    
    #kontaktai {
        padding: 40px;
    }
}

@media all and (max-width: 700px) {
    .main-nav {
        display: none;
    }
    
    .mobile-nav {
        display: block;
    }
    
    header > div {
        justify-content: space-between;
    }
    
    .mobile-nav li {
        list-style: none;
    }
    
    .mobile-nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 80px;
        padding: 20px;
        background-color: #ffffff;
    }
    
    .mobile-nav ul a {
        color: #3c4761;
        font-size: 1rem;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 5px;
        padding: 10px 17px;
        display: block;
    }
    
    .mobile-nav > a:active {
        background-color: #fff;
    }
    
    .mobile-nav i {
        color: #ffffff;
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 10px;
    }
    
    .mobile-nav i:hover {
        background-color: #a7784d;
        border: 1px solid #a7784d !important;
        color: #fff !important;
        border-radius: 10px;
        padding: 10px;
    }
    
    .gallery {
        flex-direction: column;
    }
    
    .gallery > div {
        height: 150px;
    }
    
    #apie {
        justify-content: center;
        padding: 20px;
    }
    
    #apie > div {
        width: 100%;
        padding: 20px;
    }
    
    .contacts {
        flex-direction: column;
    }
    
    .contacts h3 {
        text-align: center;
    }
    
    .contact-info {
        text-align: center;
    }
    
    .contacts .divider {
        flex-direction: row;
        padding: 40px 0 20px ;
    }

    .contacts .divider div {
        width: 100px;
        height: 1px;
    }

    .contacts .divider i {
        padding: 0 10px;
    }
    
    .food {
        height: 820px;
    }
    
    .footer p:first-child {
        display: none;
    }
}

@media all and (max-width: 600px) {
    .food {
        padding: 20px;
    }
}

@media all and (max-width: 500px) {
    #kontaktai {
        padding: 40px 20px;
    }
    
    .food {
        background-image: none;
        height: auto;
    }
    
    .food > div {
        padding: 0;
    }
}
    
@media all and (max-width: 400px) {
    .menu-divider {
        visibility: hidden;
    }
}

@media all and (max-width: 330px) {
    .logo {
        font-size: 0.8rem;
    }
    
    .contacts h3, #meni h3 {
        font-size: 2rem;
    }
    
    .divider div, .contacts .divider div {
        width: 70px;
    }
    
    .nav-btns div {
        font-size: 0.8rem;
        width: 140px;
    }
}